* {
	margin: 0;
	padding: 0;
}
body {
	height: 2820px;
	width: 100%;
	background-color: white;
}

.menu {
	background-color: white;
	display: flex;
	width: 100%;
	opacity: 0.89;
	z-index: 29;
}

.menu-li {
	list-style: none;
	font-family: sans-serif;
	font-size: 25px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	color: black;
}

.start {
	background-image: url(img/start.jpeg);
	opacity: 0.7;
	display: flex;
	height: 893px;
}

.name {
	width: 100%;
	text-align: center;
    font-family: 'Patua One', cursive;
	margin: 0;
	margin: 396.5px 0 396.5px 0;
	color: white;
}

h1 {
	font-size: 100px;
	font-family: "Intro";
	filter: drop-shadow(0px 0px 15px black);
}

.home{
	background-color: white;
	width: 100%;
	display: flex;
	z-index: 29;
}

.home-li {
	list-style: none;
	font-family: sans-serif;
	font-size: 35px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	color: black;
}

.home-info {
	display: flex;
	height: 879px;
	background-image: url(img/home.jpeg);
}

img {
	margin-top: 50px;
	height: 700px;
	width: 580px;
}

.me-info {
	width: 900px;
	height: 180px;
	background-color: white;
	border-radius: 15px;
	color: black;
	font-family: "Intro";
	margin-top: 320px;
	margin: auto;
	padding: 10px 0 0 0;
}

.me-li {
	list-style: none;
	font-family: sans-serif;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 10px 0;
}

.resume {
	background-color: white;
	width: 100%;
	display: flex;
	z-index: 29;
}

.resume-li {
	list-style: none;
	font-family: sans-serif;
	font-size: 35px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	color: black;
}

.resume-skills {
	background-image: url(img/resume.jpeg);
	width: 100%;
	height: 879px;
}

.skills-ul-first {
	display: flex;
	width: 100%;
	margin: 0 auto;
}

.skills-li {
	list-style: none;
	margin: 0 auto;
	font-size: 35px;
	font-family: "fonts/Intro.ttf";
}